body{
background-color: rgb(224, 243, 245);
}

.Cards{
    display: flex;
    justify-content: center;
    align-items: center;
}
.card{
    background-color: rgb(255, 251, 251);
    margin: 22px;
    display:flex;
    flex-direction: column;
    padding: 30px;
    align-items: center;
    border: 2px solid black;
    border-radius: 10px;
    box-shadow: 0 0 20px rgb(0, 0, 0);
    transition: transform 0.3s ease;
    margin-left: 50px;
}

.card button{
    padding: 10px;
    border-radius: 5px;
    background-color: skyblue;
    cursor: pointer;


}
button:hover{
    background-color: azure;
}

.card:hover{
     background-color: rgb(235, 242, 244) ;
     transform: scale(1.1);
}

.tables{
    max-width:100% ;
    margin: 10px;
}

table{
    width: 80%;
    margin-right: 10px;
    margin-left: 150px;
   
}

table th{
    text-align: center;
     padding: 10px;
     background-color:skyblue;

}
table td{
    text-align: center;
     padding: 10px;

}
.h1{
    padding-top: 0px;
}