.login-box{
    width: 400px;
    height: 300px;
    padding-bottom: 50px;
    padding-top: 50px;
    padding-left: 50px;
    padding-right: 50px;
    background-color: rgb(255, 252, 252);
    border-radius: 10px;

}

.signup-box{
    width: 400px;
    height: 650px;
    padding-left: 50px;
    padding-right: 50px;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    border-color: black;
    padding-top: 30px;
    padding-bottom: 30px;
}

body{
    justify-content: center;
    top: 50%;
    bottom: 50%;
    margin-top: 50px;
    display: flex;
    background-color:rgb(231, 246, 241) ;
}
label{
    font-weight: bold;
    font-size: large;
}
input{
    width: 350px;
    height: 35px;

}

select{
    width: 350px;
    height: 25px;
}

button{
    width: 350px;
    height: 30px;
    background-color: rgba(236, 26, 26, 0.895);
    cursor: pointer;

}
button:hover{
    background-color:skyblue;
}
pre{
    font-size: large;
}

a{
    text-decoration:none ;

}
h2{
    font-style:normal;
    color: rgb(226, 104, 43);
    text-align: center;
    padding-top: 10px;
}